force-app/main/default/flows/CAN_Sales_Op_Visit_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Update_var_mostRecentDealershipStaffingVisit</name>
        <label>Copy 1 of Update var_mostRecentDealershipStaffingVisit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_mostRecentTrafficGeneration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Latest_Traffic_Generation_Visit_Col</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Latest_Traffic_Generation_Visit_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_var_mostRecentDealershipStaffingVisit</name>
        <label>Update var_mostRecentDealershipStaffingVisit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_mostRecentDealershipStaffing</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Latest_Dealership_Staffing_Visit_Col</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Latest_Dealership_Staffing_Visit_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_var_mostRecentDeptProfitAnalysis</name>
        <label>Update var_mostRecentDeptProfitAnalysis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_mostRecentDeptProfitAnalysis</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Latest_Dept_Profit_Analysis_Visit_Col</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Latest_Dept_Profit_Analysis_Visit_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_var_mostRecentInventory</name>
        <label>Update var_mostRecentInventory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_mostRecentInventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Latest_Inventory_Visit_Col</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Latest_Inventory_Visit_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_var_mostRecentMarketingReview</name>
        <label>Update var_mostRecentMarketingReview</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_mostRecentMarketingReview</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Latest_Marketing_Review_Visit_Col</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Latest_Marketing_Review_Visit_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_var_mostRecentNewSalesProcesses</name>
        <label>Update var_mostRecentNewSalesProcesses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_mostRecentNewSalesProcesses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Latest_New_Sales_Processes_Visit_Col</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Latest_New_Sales_Processes_Visit_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_var_mostRecentUsedSalesProcesses</name>
        <label>Update var_mostRecentUsedSalesProcesses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_mostRecentUsedSalesProcesses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Latest_Used_Sales_Processes_Visit_Col</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Latest_Used_Sales_Processes_Visit_Col</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Latest_Dealership_Staffing_Visit</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Latest Dealership Staffing Visits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Get_Latest_Dealership_Staffing_Visit</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Visits</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Latest_Dealership_Staffing_Visit.Dealership_Staffing__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Latest_Dealership_Staffing_Visit_Col</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Latest_Dept_Profit_Analysis_Visit</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Latest Dept Profit Analysis Visits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Get_Latest_Dealership_Staffing_Visit</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Visits</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Latest_Dealership_Staffing_Visit.Dept_Profit_Analysis__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Latest_Dept_Profit_Analysis_Visit_Col</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Latest_Inventory_Visit</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Latest Inventory Visits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Get_Latest_Dealership_Staffing_Visit</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Visits</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Latest_Dealership_Staffing_Visit.Inventory__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Latest_Inventory_Visit_Col</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Latest_Marketing_Review_Visit</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Latest Marketing Review Visits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Get_Latest_Dealership_Staffing_Visit</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Visits</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Latest_Dealership_Staffing_Visit.Marketing_Review__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Latest_Marketing_Review_Visit_Col</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Latest_New_Sales_Processes_Visit</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Latest New Sales Processes Visits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Get_Latest_Dealership_Staffing_Visit</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Visits</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Latest_Dealership_Staffing_Visit.New_Sales_Processes__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Latest_New_Sales_Processes_Visit_Col</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Latest_Traffic_Generation_Visit</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Latest Traffic Generation Visits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Get_Latest_Dealership_Staffing_Visit</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Visits</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Latest_Dealership_Staffing_Visit.Traffic_Generation__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Latest_Traffic_Generation_Visit_Col</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Latest_Used_Sales_Processes_Visit</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Latest Used Sales Processes Visits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Get_Latest_Dealership_Staffing_Visit</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Visits</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Latest_Dealership_Staffing_Visit.Used_Sales_Processes__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Latest_Used_Sales_Processes_Visit_Col</targetReference>
        </connector>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_var_mostRecentDealershipStaffingVisit</name>
        <label>Check var_mostRecentDealershipStaffingVisit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Latest_Dealership_Staffing_Visit_Col</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>var_mostRecentDealershipStaffing_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_mostRecentDealershipStaffing</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_var_mostRecentDealershipStaffingVisit</targetReference>
            </connector>
            <label>var_mostRecentDealershipStaffing is Null</label>
        </rules>
        <rules>
            <name>Current_Item_Visit_Date_var_mostRecentDealershipStaffing_Visit_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentItem_Get_Latest_Dealership_Staffing_Visit.Visit_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_mostRecentDealershipStaffing.Visit_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_var_mostRecentDealershipStaffingVisit</targetReference>
            </connector>
            <label>Current Item Visit Date &gt; var_mostRecentDealershipStaffing Visit Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_var_mostRecentDeptProfitAnalysis</name>
        <label>Check var_mostRecentDeptProfitAnalysis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Latest_Dept_Profit_Analysis_Visit_Col</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>var_mostRecentDeptProfitAnalysis_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_mostRecentDeptProfitAnalysis</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_var_mostRecentDeptProfitAnalysis</targetReference>
            </connector>
            <label>var_mostRecentDeptProfitAnalysis is Null</label>
        </rules>
        <rules>
            <name>Current_Item_Visit_Date_var_mostRecentDeptProfitAnalysis_Visit_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Latest_Dept_Profit_Analysis_Visit_Col.Visit_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_mostRecentDeptProfitAnalysis.Visit_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_var_mostRecentDeptProfitAnalysis</targetReference>
            </connector>
            <label>Current Item Visit Date &gt; var_mostRecentDeptProfitAnalysis Visit Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_var_mostRecentInventory</name>
        <label>Check var_mostRecentInventory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Latest_Inventory_Visit_Col</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>var_mostRecentInventory_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_mostRecentInventory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_var_mostRecentInventory</targetReference>
            </connector>
            <label>var_mostRecentInventory is Null</label>
        </rules>
        <rules>
            <name>Current_Item_Visit_Date_var_mostRecentInventory_Visit_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Latest_Inventory_Visit_Col.Visit_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_mostRecentInventory.Visit_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_var_mostRecentInventory</targetReference>
            </connector>
            <label>Current Item Visit Date &gt; var_mostRecentInventory Visit Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_var_mostRecentMarketingReview</name>
        <label>Check var_mostRecentMarketingReview</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Latest_Marketing_Review_Visit_Col</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>var_mostRecentMarketingReview_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_mostRecentMarketingReview</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_var_mostRecentMarketingReview</targetReference>
            </connector>
            <label>var_mostRecentMarketingReview is Null</label>
        </rules>
        <rules>
            <name>Current_Item_Visit_Date_var_mostRecentMarketingReview_Visit_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Latest_Marketing_Review_Visit_Col.Visit_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_mostRecentMarketingReview.Visit_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_var_mostRecentMarketingReview</targetReference>
            </connector>
            <label>Current Item Visit Date &gt; var_mostRecentMarketingReview Visit Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_var_mostRecentNewSalesProcesses</name>
        <label>Check var_mostRecentNewSalesProcesses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Latest_New_Sales_Processes_Visit_Col</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>var_mostRecentNewSalesProcesses_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_mostRecentNewSalesProcesses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_var_mostRecentNewSalesProcesses</targetReference>
            </connector>
            <label>var_mostRecentNewSalesProcesses is Null</label>
        </rules>
        <rules>
            <name>Current_Item_Visit_Date_var_mostRecentNewSalesProcesses_Visit_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Latest_New_Sales_Processes_Visit_Col.Visit_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_mostRecentNewSalesProcesses.Visit_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_var_mostRecentNewSalesProcesses</targetReference>
            </connector>
            <label>Current Item Visit Date &gt; var_mostRecentNewSalesProcesses Visit Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_var_mostRecentTrafficGeneration</name>
        <label>Check var_mostRecentTrafficGeneration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Latest_Traffic_Generation_Visit_Col</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>var_mostRecentTrafficGeneration_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_mostRecentTrafficGeneration</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Copy_1_of_Update_var_mostRecentDealershipStaffingVisit</targetReference>
            </connector>
            <label>var_mostRecentTrafficGeneration is Null</label>
        </rules>
        <rules>
            <name>Current_Item_Visit_Date_var_mostRecentTrafficGeneration_Visit_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Latest_Traffic_Generation_Visit_Col.Visit_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>var_mostRecentTrafficGeneration.Visit_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_var_mostRecentDealershipStaffingVisit</targetReference>
            </connector>
            <label>Current Item Visit Date &gt; var_mostRecentTrafficGeneration Visit Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_var_mostRecentUsedSalesProcesses</name>
        <label>Check var_mostRecentUsedSalesProcesses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Latest_Used_Sales_Processes_Visit_Col</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>var_mostRecentUsedSalesProcesses_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_mostRecentUsedSalesProcesses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_var_mostRecentUsedSalesProcesses</targetReference>
            </connector>
            <label>var_mostRecentUsedSalesProcesses is Null</label>
        </rules>
        <rules>
            <name>Current_Item_Visit_Date_var_mostRecentUsedSalesProcesses_Visit_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Latest_Used_Sales_Processes_Visit_Col.Visit_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_mostRecentUsedSalesProcesses.Visit_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_var_mostRecentUsedSalesProcesses</targetReference>
            </connector>
            <label>Current Item Visit Date &gt; var_mostRecentUsedSalesProcesses Visit Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CAN: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAN: Sales Op Visit Screen</label>
    <loops>
        <name>Loop_through_Latest_Dealership_Staffing_Visit_Col</name>
        <label>Loop through Latest Dealership Staffing Visit Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Latest_Dealership_Staffing_Visit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_var_mostRecentDealershipStaffingVisit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Latest_Inventory_Visit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Latest_Dept_Profit_Analysis_Visit_Col</name>
        <label>Loop through Latest Dept Profit Analysis Visit Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Latest_Dept_Profit_Analysis_Visit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_var_mostRecentDeptProfitAnalysis</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Latest_Inventory_Visit_Col</name>
        <label>Loop through Latest Inventory Visit Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Latest_Inventory_Visit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_var_mostRecentInventory</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Latest_New_Sales_Processes_Visit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Latest_Marketing_Review_Visit_Col</name>
        <label>Loop through Latest Marketing Review Visit Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Latest_Marketing_Review_Visit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_var_mostRecentMarketingReview</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Latest_Traffic_Generation_Visit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Latest_New_Sales_Processes_Visit_Col</name>
        <label>Loop through Latest New Sales Processes Visit Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Latest_New_Sales_Processes_Visit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_var_mostRecentNewSalesProcesses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Latest_Used_Sales_Processes_Visit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Latest_Traffic_Generation_Visit_Col</name>
        <label>Loop through Latest Traffic Generation Visit Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Latest_Traffic_Generation_Visit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_var_mostRecentTrafficGeneration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Latest_Dept_Profit_Analysis_Visit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Latest_Used_Sales_Processes_Visit_Col</name>
        <label>Loop through Latest Used Sales Processes Visit Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Latest_Used_Sales_Processes_Visit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_var_mostRecentUsedSalesProcesses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Latest_Marketing_Review_Visit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Visits</name>
        <label>Get Visits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Dealership_Staffing_Visit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Visit</object>
        <sortField>Visit_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_DealershipStaffing</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Dealership Staffing&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_Dealership_Staffing_Notes</name>
                    <fieldText>&lt;p&gt;{!var_mostRecentDealershipStaffing.Dealership_Staffing_Notes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_DealershipStaffing_LinkToVisit</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;/{!var_mostRecentDealershipStaffing.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Visit&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!var_mostRecentDealershipStaffing.Visit_Date__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_Inventory</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Inventory&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_Inventory_Notes</name>
                    <fieldText>&lt;p&gt;{!var_mostRecentInventory.Inventory_Notes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_Inventory_LinkToVisit</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;/{!var_mostRecentInventory.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Visit&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!var_mostRecentInventory.Visit_Date__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_mostRecentInventory.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_NewSalesProcesses</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;New Sales Processes&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_NewSalesProcesses_Notes</name>
                    <fieldText>&lt;p&gt;{!var_mostRecentNewSalesProcesses.New_Sales_Processes_Notes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_NewSalesProcesses_LinkToVisit</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;/{!var_mostRecentNewSalesProcesses.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Visit&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!var_mostRecentNewSalesProcesses.Visit_Date__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_mostRecentNewSalesProcesses.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_UsedSalesProcesses</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Used Sales Processes&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_UsedSalesProcesses_Notes</name>
                    <fieldText>&lt;p&gt;{!var_mostRecentUsedSalesProcesses.Used_Sales_Processes_Notes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_UsedSalesProcesses_LinkToVisit</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;/{!var_mostRecentUsedSalesProcesses.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Visit&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!var_mostRecentUsedSalesProcesses.Visit_Date__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_mostRecentUsedSalesProcesses.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_MarketingReview</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Marketing Review&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_MarketingReview_Notes</name>
                    <fieldText>&lt;p&gt;{!var_mostRecentMarketingReview.Marketing_Review_Notes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_MarketingReview_LinkToVisit</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;/{!var_mostRecentMarketingReview.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Visit&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!var_mostRecentMarketingReview.Visit_Date__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_mostRecentMarketingReview.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_TrafficGeneration</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Traffic Generation&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_TrafficGenerationNotes</name>
                    <fieldText>&lt;p&gt;{!var_mostRecentTrafficGeneration.Traffic_Generation_Notes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_TrafficGeneration_LinkToVisit</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;/{!var_mostRecentTrafficGeneration.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Visit&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!var_mostRecentTrafficGeneration.Visit_Date__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_mostRecentTrafficGeneration.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_DeptProfitAnalysis</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Dept. Profit Analysis&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_DeptProfitAnalysis_Notes</name>
                    <fieldText>&lt;p&gt;{!var_mostRecentDeptProfitAnalysis.Dept_Profit_Analysis_Notes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_DeptProfitAnalysis_LinkToVisit</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;/{!var_mostRecentDeptProfitAnalysis.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Visit&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!var_mostRecentDeptProfitAnalysis.Visit_Date__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_mostRecentDeptProfitAnalysis.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Visits</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Get_Latest_Dealership_Staffing_Visit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_mostRecentDealershipStaffing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>var_mostRecentDeptProfitAnalysis</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>var_mostRecentInventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>var_mostRecentMarketingReview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>var_mostRecentNewSalesProcesses</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>var_mostRecentTrafficGeneration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>var_mostRecentUsedSalesProcesses</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
</Flow>
