force-app/main/default/flows/CAN_Fixed_Ops_Visit_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_var_mostRecentCustomerRetention</name>
        <label>Update var_mostRecentCustomerRetention</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_mostRecentCustomerRetention</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Latest_Customer_Retention_Visit_Col</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Latest_Customer_Retention_Visit_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_var_mostRecentDealershipProcesses</name>
        <label>Update var_mostRecentDealershipProcesses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_mostRecentDealershipProcesses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Latest_Dealership_Processes_Visit_Col</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Latest_Dealership_Processes_Visit_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_var_mostRecentDealershipStaffingVisit</name>
        <label>Update var_mostRecentDealershipStaffingVisit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_mostRecentDealershipStaffing</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Latest_Dealership_Staffing_Visit_Col</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Latest_Dealership_Staffing_Visit_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_var_mostRecentPartsCollision</name>
        <label>Update var_mostRecentPartsCollision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_mostRecentPartsCollision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Latest_Parts_Collision_Visit_Col</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Latest_Parts_Collision_Visit_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_var_mostRecentProfitRetention</name>
        <label>Update var_mostRecentProfitRetention</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_mostRecentProfitRetention</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Latest_Profit_Retention_Visit_Col</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Latest_Profit_Retention_Visit_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_var_mostRecentReceptionMPI</name>
        <label>Update var_mostRecentReceptionMPI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_mostRecentReceptionMPI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Latest_Reception_MPI_Visit_Col</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Latest_Reception_MPI_Visit_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_var_mostRecentRepairFlow</name>
        <label>Update var_mostRecentRepairFlow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_mostRecentRepairFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Latest_Repair_Flow_Visit_Col</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Latest_Repair_Flow_Visit_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_var_mostRecentTrafficGeneration</name>
        <label>Update var_mostRecentTrafficGeneration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_mostRecentTrafficGeneration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Latest_Traffic_Generation_Visit_Col</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Latest_Traffic_Generation_Visit_Col</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Latest_Customer_Retention_Visit</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Latest Customer Retention Visits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Get_Latest_Traffic_Generation_Visit</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Visits</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Latest_Traffic_Generation_Visit.Customer_Retention__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Latest_Customer_Retention_Visit_Col</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Latest_Dealership_Processes_Visits</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Latest Dealership Processes Visits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Get_Latest_Traffic_Generation_Visit</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Visits</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Latest_Traffic_Generation_Visit.Dealership_Processes__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Latest_Dealership_Processes_Visit_Col</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Latest_Dealership_Staffing_Visit</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Latest Dealership Staffing Visits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Get_Latest_Traffic_Generation_Visit</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Visits</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Latest_Traffic_Generation_Visit.Dealership_Staffing__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Latest_Dealership_Staffing_Visit_Col</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Latest_Parts_Collision_Visit</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Latest Parts Collision Visits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Get_Latest_Traffic_Generation_Visit</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Visits</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Latest_Traffic_Generation_Visit.Parts_Collision__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Latest_Parts_Collision_Visit_Col</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Latest_Profit_Retention_Visit</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Latest Profit Retention Visits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Get_Latest_Traffic_Generation_Visit</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Visits</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Latest_Traffic_Generation_Visit.Profit_Retention__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Latest_Profit_Retention_Visit_Col</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Latest_Reception_MPI_Visit</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Latest Reception MPI Visits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Get_Latest_Traffic_Generation_Visit</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Visits</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Latest_Traffic_Generation_Visit.Reception_MPI__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Latest_Reception_MPI_Visit_Col</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Latest_Repair_Flow_Visit</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Latest Repair Flow Visits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Get_Latest_Traffic_Generation_Visit</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Visits</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Latest_Traffic_Generation_Visit.Repair_Flow__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Latest_Repair_Flow_Visit_Col</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Latest_Traffic_Generation_Visit</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Latest Traffic Generation Visits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Get_Latest_Traffic_Generation_Visit</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Visits</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Latest_Traffic_Generation_Visit.Traffic_Generation__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Latest_Traffic_Generation_Visit_Col</targetReference>
        </connector>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_var_mostRecentCustomerRetention</name>
        <label>Check var_mostRecentCustomerRetention</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Latest_Customer_Retention_Visit_Col</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>var_mostRecentCustomerRetention_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_mostRecentCustomerRetention</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_var_mostRecentCustomerRetention</targetReference>
            </connector>
            <label>var_mostRecentCustomerRetention is Null</label>
        </rules>
        <rules>
            <name>Current_Item_Visit_Date_var_mostRecentCustomerRetention_Visit_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Latest_Customer_Retention_Visit_Col.Visit_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_mostRecentCustomerRetention.Visit_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_var_mostRecentCustomerRetention</targetReference>
            </connector>
            <label>Current Item Visit Date &gt; var_mostRecentCustomerRetention Visit Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_var_mostRecentDealershipProcesses</name>
        <label>Check var_mostRecentDealershipProcesses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Latest_Dealership_Processes_Visit_Col</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>var_mostRecentDealershipProcesses_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_mostRecentDealershipProcesses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_var_mostRecentDealershipProcesses</targetReference>
            </connector>
            <label>var_mostRecentDealershipProcesses is Null</label>
        </rules>
        <rules>
            <name>Current_Item_Visit_Date_var_mostRecentDealershipProcesses_Visit_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Latest_Dealership_Processes_Visit_Col.Visit_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_mostRecentDealershipProcesses.Visit_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_var_mostRecentDealershipProcesses</targetReference>
            </connector>
            <label>Current Item Visit Date &gt; var_mostRecentDealershipProcesses Visit Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_var_mostRecentDealershipStaffingVisit</name>
        <label>Check var_mostRecentDealershipStaffingVisit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Latest_Dealership_Staffing_Visit_Col</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>var_mostRecentDealershipStaffing_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_mostRecentDealershipStaffing</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_var_mostRecentDealershipStaffingVisit</targetReference>
            </connector>
            <label>var_mostRecentDealershipStaffing is Null</label>
        </rules>
        <rules>
            <name>Current_Item_Visit_Date_var_mostRecentDealershipStaffing_Visit_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentItem_Get_Latest_Traffic_Generation_Visit.Visit_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_mostRecentDealershipStaffing.Visit_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_var_mostRecentDealershipStaffingVisit</targetReference>
            </connector>
            <label>Current Item Visit Date &gt; var_mostRecentDealershipStaffing Visit Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_var_mostRecentPartsCollision</name>
        <label>Check var_mostRecentPartsCollision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Latest_Parts_Collision_Visit_Col</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>var_mostRecentPartsCollision_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_mostRecentPartsCollision</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_var_mostRecentPartsCollision</targetReference>
            </connector>
            <label>var_mostRecentPartsCollision is Null</label>
        </rules>
        <rules>
            <name>Current_Item_Visit_Date_var_mostRecentPartsCollision_Visit_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Latest_Parts_Collision_Visit_Col.Visit_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_mostRecentPartsCollision.Visit_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_var_mostRecentPartsCollision</targetReference>
            </connector>
            <label>Current Item Visit Date &gt; var_mostRecentPartsCollision Visit Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_var_mostRecentProfitRetention</name>
        <label>Check var_mostRecentProfitRetention</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Latest_Profit_Retention_Visit_Col</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>var_mostRecentProfitRetention_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_mostRecentProfitRetention</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_var_mostRecentProfitRetention</targetReference>
            </connector>
            <label>var_mostRecentProfitRetention is Null</label>
        </rules>
        <rules>
            <name>Current_Item_Visit_Date_var_mostRecentProfitRetention_Visit_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Latest_Profit_Retention_Visit_Col.Visit_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_mostRecentProfitRetention.Visit_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_var_mostRecentProfitRetention</targetReference>
            </connector>
            <label>Current Item Visit Date &gt; var_mostRecentProfitRetention Visit Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_var_mostRecentReceptionMPI</name>
        <label>Check var_mostRecentReceptionMPI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Latest_Reception_MPI_Visit_Col</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>var_mostRecentReceptionMPI_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_mostRecentReceptionMPI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_var_mostRecentReceptionMPI</targetReference>
            </connector>
            <label>var_mostRecentReceptionMPI is Null</label>
        </rules>
        <rules>
            <name>Current_Item_Visit_Date_var_mostRecentReceptionMPI_Visit_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Latest_Reception_MPI_Visit_Col.Visit_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_mostRecentReceptionMPI.Visit_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_var_mostRecentReceptionMPI</targetReference>
            </connector>
            <label>Current Item Visit Date &gt; var_mostRecentReceptionMPI Visit Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_var_mostRecentRepairFlow</name>
        <label>Check var_mostRecentRepairFlow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Latest_Repair_Flow_Visit_Col</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>var_mostRecentRepairFlow_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_mostRecentRepairFlow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_var_mostRecentRepairFlow</targetReference>
            </connector>
            <label>var_mostRecentRepairFlow is Null</label>
        </rules>
        <rules>
            <name>Current_Item_Visit_Date_var_mostRecentRepairFlow_Visit_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Latest_Repair_Flow_Visit_Col.Visit_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_mostRecentRepairFlow.Visit_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_var_mostRecentRepairFlow</targetReference>
            </connector>
            <label>Current Item Visit Date &gt; var_mostRecentRepairFlow Visit Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_var_mostRecentTrafficGeneration</name>
        <label>Check var_mostRecentTrafficGeneration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Latest_Traffic_Generation_Visit_Col</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>var_mostRecentTrafficGeneration_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_mostRecentTrafficGeneration</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_var_mostRecentTrafficGeneration</targetReference>
            </connector>
            <label>var_mostRecentTrafficGeneration is Null</label>
        </rules>
        <rules>
            <name>Current_Item_Visit_Date_var_mostRecentTrafficGeneration_Visit_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Latest_Traffic_Generation_Visit_Col.Visit_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>var_mostRecentTrafficGeneration.Visit_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_var_mostRecentTrafficGeneration</targetReference>
            </connector>
            <label>Current Item Visit Date &gt; var_mostRecentTrafficGeneration Visit Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CAN: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAN: Fixed Ops Visit Screen</label>
    <loops>
        <name>Loop_through_Latest_Customer_Retention_Visit_Col</name>
        <label>Loop through Latest Customer Retention Visit Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Latest_Customer_Retention_Visit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_var_mostRecentCustomerRetention</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Latest_Parts_Collision_Visit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Latest_Dealership_Processes_Visit_Col</name>
        <label>Loop through Latest Dealership Processes Visit Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Latest_Dealership_Processes_Visits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_var_mostRecentDealershipProcesses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Latest_Reception_MPI_Visit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Latest_Dealership_Staffing_Visit_Col</name>
        <label>Loop through Latest Dealership Staffing Visit Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Latest_Dealership_Staffing_Visit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_var_mostRecentDealershipStaffingVisit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Latest_Traffic_Generation_Visit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Latest_Parts_Collision_Visit_Col</name>
        <label>Loop through Latest Parts Collision Visit Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Latest_Parts_Collision_Visit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_var_mostRecentPartsCollision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Latest_Profit_Retention_Visit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Latest_Profit_Retention_Visit_Col</name>
        <label>Loop through Latest Profit Retention Visit Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Latest_Profit_Retention_Visit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_var_mostRecentProfitRetention</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Latest_Reception_MPI_Visit_Col</name>
        <label>Loop through Latest Reception MPI Visit Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Latest_Reception_MPI_Visit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_var_mostRecentReceptionMPI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Latest_Repair_Flow_Visit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Latest_Repair_Flow_Visit_Col</name>
        <label>Loop through Latest Repair Flow Visit Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Latest_Repair_Flow_Visit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_var_mostRecentRepairFlow</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Latest_Customer_Retention_Visit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Latest_Traffic_Generation_Visit_Col</name>
        <label>Loop through Latest Traffic Generation Visit Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Latest_Traffic_Generation_Visit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_var_mostRecentTrafficGeneration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Latest_Dealership_Processes_Visits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Visits</name>
        <label>Get Visits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Dealership_Staffing_Visit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Visit</object>
        <sortField>Visit_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_DealershipStaffing</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Dealership Staffing&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_Dealership_Staffing_Notes</name>
                    <fieldText>&lt;p&gt;{!var_mostRecentDealershipStaffing.Dealership_Staffing_Notes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_DealershipStaffing_LinkToVisit</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;/{!var_mostRecentDealershipStaffing.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Visit&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!var_mostRecentDealershipStaffing.Visit_Date__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_mostRecentDealershipStaffing.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_TrafficGeneration</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Traffic Generation&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_TrafficGenerationNotes</name>
                    <fieldText>&lt;p&gt;{!var_mostRecentTrafficGeneration.Traffic_Generation_Notes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_TrafficGeneration_LinkToVisit</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;/{!var_mostRecentTrafficGeneration.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Visit&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!var_mostRecentTrafficGeneration.Visit_Date__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_mostRecentTrafficGeneration.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_DealershipProcesses</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Dealership Processes&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_DealershipProcessesNotes</name>
                    <fieldText>&lt;p&gt;{!var_mostRecentDealershipProcesses.Dealership_Processes_Notes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_DealershipProcessesLinkAndDate</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;/{!var_mostRecentDealershipProcesses.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Visit&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!var_mostRecentDealershipProcesses.Visit_Date__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_mostRecentDealershipProcesses.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_ReceptionMPI</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Reception/MPI&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_ReceptionMPINotes</name>
                    <fieldText>&lt;p&gt;{!var_mostRecentReceptionMPI.Reception_MPI_Notes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_ReceptionMPI_LinkToVisit</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;/{!var_mostRecentReceptionMPI.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Visit&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!var_mostRecentReceptionMPI.Visit_Date__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_mostRecentReceptionMPI.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_RepairFlow</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Repair Flow&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_RepairFlowNotes</name>
                    <fieldText>&lt;p&gt;{!var_mostRecentRepairFlow.Repair_Flow_Notes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_RepairFlow_LinkToVisit</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;/{!var_mostRecentRepairFlow.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Visit&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!var_mostRecentRepairFlow.Visit_Date__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_mostRecentRepairFlow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_CustomerRetention</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer Retention&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_CustomerRetentionNotes</name>
                    <fieldText>&lt;p&gt;{!var_mostRecentCustomerRetention.Customer_Retention_Notes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_CustomerRetention_LinkToVisit</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;/{!var_mostRecentCustomerRetention.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Visit&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!var_mostRecentCustomerRetention.Visit_Date__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_mostRecentCustomerRetention.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_PartsAndCollision</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Parts &amp;amp; Collision&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_PartsCollisionNotes</name>
                    <fieldText>&lt;p&gt;{!var_mostRecentPartsCollision.Parts_Collision_Notes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_PartsCollision_LinkToVisit</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;/{!var_mostRecentPartsCollision.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Visit&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!var_mostRecentPartsCollision.Visit_Date__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_mostRecentPartsCollision.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_ProfitRetention</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Profit Retention&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_ProfitRetentionNotes</name>
                    <fieldText>&lt;p&gt;{!var_mostRecentProfitRetention.Profit_Retention_Notes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_ProfitRetention_LinkToVisit</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;/{!var_mostRecentProfitRetention.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Visit&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!var_mostRecentProfitRetention.Visit_Date__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_mostRecentProfitRetention.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Visits</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Get_Latest_Traffic_Generation_Visit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_mostRecentCustomerRetention</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>var_mostRecentDealershipProcesses</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>var_mostRecentDealershipStaffing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>var_mostRecentPartsCollision</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>var_mostRecentProfitRetention</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>var_mostRecentReceptionMPI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>var_mostRecentRepairFlow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>var_mostRecentTrafficGeneration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
</Flow>
