force-app/main/default/flows/Visited_Party_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Deselect_Is_Primary_Contact</name>
        <label>Deselect Is Primary Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_thru_Visited_Parties.IsPrimaryContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Visited_Parties</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Primary_Contact</name>
        <label>Is Primary Contact?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Primary_Contact_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPrimaryContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_thru_Visited_Parties</targetReference>
            </connector>
            <label>Is Primary Contact is true</label>
        </rules>
        <rules>
            <name>No_primary_contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Visited_Parties</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_Primary_Contact</targetReference>
            </connector>
            <label>No primary contacts</label>
        </rules>
    </decisions>
    <description>Sets the record straight re: who&apos;s the primary contact</description>
    <environments>Default</environments>
    <interviewLabel>Visited Party After Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Visited Party After Create/Update</label>
    <loops>
        <name>Loop_thru_Visited_Parties</name>
        <label>Loop thru Visited Parties</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Visited_Parties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Deselect_Is_Primary_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Visited_Parties</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Visited_Parties</name>
        <label>Get Visited Parties</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Primary_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VisitId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.VisitId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimaryContact</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VisitedParty</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Make_Primary_Contact</name>
        <label>Make Primary Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>IsPrimaryContact</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visited_Parties</name>
        <label>Update Visited Parties</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Visited_Parties</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Visited_Parties</targetReference>
        </connector>
        <object>VisitedParty</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
