force-app/main/default/flows/Visit_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Triggering_Visit</name>
        <label>Assign Triggering Visit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatedVisit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Visit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_updatedVisit</name>
        <label>Assign updatedVisit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_checkbox_empty_for_any_populated_text_area</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Retention_False</name>
        <label>Set Customer Retention = False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Customer_Retention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_checked_for_any_empty_text_area_Fixed_Ops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Retention_True</name>
        <label>Set Customer Retention = True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Customer_Retention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_empty_for_any_populated_text_area_Fixed_Ops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Dealership_Processes_False</name>
        <label>Set Dealership Processes = False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Dealership_Processes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_checked_for_any_empty_text_area_Fixed_Ops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Dealership_Processes_True</name>
        <label>Set Dealership Processes = True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Dealership_Processes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_empty_for_any_populated_text_area_Fixed_Ops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Dealership_Staffing_False</name>
        <label>Set Dealership Staffing = False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Dealership_Staffing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_checked_for_any_empty_text_area</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Dealership_Staffing_True</name>
        <label>Set Dealership Staffing = True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Dealership_Staffing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_empty_for_any_populated_text_area</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Dept_Profit_Analysis_False</name>
        <label>Set Dept. Profit Analysis = False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Dept_Profit_Analysis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_checked_for_any_empty_text_area_Sales_Ops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Dept_Profit_Analysis_True</name>
        <label>Set Dept. Profit Analysis = True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Dept_Profit_Analysis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_empty_for_any_populated_text_area_Sales_Ops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inventory_False</name>
        <label>Set Inventory = False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Inventory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_checked_for_any_empty_text_area_Sales_Ops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inventory_True</name>
        <label>Set Inventory = True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Inventory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_empty_for_any_populated_text_area_Sales_Ops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Marketing_Review_False</name>
        <label>Set Marketing Review = False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Marketing_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_checked_for_any_empty_text_area_Sales_Ops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Marketing_Review_True</name>
        <label>Set Marketing Review = True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Marketing_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_empty_for_any_populated_text_area_Sales_Ops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Sales_Processes_False</name>
        <label>Set New Sales Processes = False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.New_Sales_Processes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_checked_for_any_empty_text_area_Sales_Ops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Sales_Processes_True</name>
        <label>Set New Sales Processes = True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.New_Sales_Processes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_empty_for_any_populated_text_area_Sales_Ops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parts_Collision_False</name>
        <label>Set Parts &amp; Collision = False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Parts_Collision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_checked_for_any_empty_text_area_Fixed_Ops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parts_Collision_True</name>
        <label>Set Parts &amp; Collision = True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Parts_Collision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_empty_for_any_populated_text_area_Fixed_Ops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Profit_Retention_False</name>
        <label>Set Profit Retention = False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Profit_Retention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_checked_for_any_empty_text_area_Fixed_Ops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Profit_Retention_True</name>
        <label>Set Profit Retention = True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Profit_Retention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_empty_for_any_populated_text_area_Fixed_Ops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Reception_MPI_False</name>
        <label>Set Reception/MPI = False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Reception_MPI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_checked_for_any_empty_text_area_Fixed_Ops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Reception_MPI_True</name>
        <label>Set Reception/MPI = True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Reception_MPI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_empty_for_any_populated_text_area_Fixed_Ops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Repair_Flow_False</name>
        <label>Set Repair Flow = False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Repair_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_checked_for_any_empty_text_area_Fixed_Ops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Repair_Flow_True</name>
        <label>Set Repair Flow = True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Repair_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_empty_for_any_populated_text_area_Fixed_Ops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Traffic_Generation_False</name>
        <label>Set Traffic Generation = False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Traffic_Generation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_checked_for_any_empty_text_area</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Traffic_Generation_True</name>
        <label>Set Traffic Generation = True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Traffic_Generation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_empty_for_any_populated_text_area</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Used_Sales_Processes_False</name>
        <label>Set Used Sales Processes = False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Used_Sales_Processes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_checked_for_any_empty_text_area_Sales_Ops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Used_Sales_Processes_True</name>
        <label>Set Used Sales Processes = True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedVisit.Used_Sales_Processes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_checkbox_empty_for_any_populated_text_area_Sales_Ops</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_checkbox_checked_for_any_empty_text_area</name>
        <label>Is checkbox checked for any empty text area?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_checkbox_checked_for_any_empty_text_area_Fixed_Ops</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Uncheck_Dealership_Staffing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dealership_Staffing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dealership_Staffing_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Dealership_Staffing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Dealership_Staffing_False</targetReference>
            </connector>
            <label>Uncheck Dealership Staffing</label>
        </rules>
        <rules>
            <name>Uncheck_Traffic_Generation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Traffic_Generation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Traffic_Generation_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Traffic_Generation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Traffic_Generation_False</targetReference>
            </connector>
            <label>Uncheck Traffic Generation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_checkbox_checked_for_any_empty_text_area_Fixed_Ops</name>
        <label>Is checkbox checked for any empty text area? (Fixed Ops)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_checkbox_checked_for_any_empty_text_area_Sales_Ops</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Uncheck_Dealership_Processes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dealership_Processes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dealership_Processes_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Dealership_Processes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Dealership_Processes_False</targetReference>
            </connector>
            <label>Uncheck Dealership Processes</label>
        </rules>
        <rules>
            <name>Uncheck_Reception_MPI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reception_MPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reception_MPI_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Reception_MPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Reception_MPI_False</targetReference>
            </connector>
            <label>Uncheck Reception/MPI</label>
        </rules>
        <rules>
            <name>Uncheck_Repair_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Repair_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Repair_Flow_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Repair_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Repair_Flow_False</targetReference>
            </connector>
            <label>Uncheck Repair Flow</label>
        </rules>
        <rules>
            <name>Uncheck_Customer_Retention</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Retention__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Retention_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Customer_Retention__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Retention_False</targetReference>
            </connector>
            <label>Uncheck Customer Retention</label>
        </rules>
        <rules>
            <name>Uncheck_Parts_Collision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parts_Collision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parts_Collision_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Parts_Collision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parts_Collision_False</targetReference>
            </connector>
            <label>Uncheck Parts &amp; Collision</label>
        </rules>
        <rules>
            <name>Uncheck_Profit_Retention</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profit_Retention__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profit_Retention_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Profit_Retention__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Profit_Retention_False</targetReference>
            </connector>
            <label>Uncheck Profit Retention</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_checkbox_checked_for_any_empty_text_area_Sales_Ops</name>
        <label>Is checkbox checked for any empty text area? (Sales Ops)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Triggering_Visit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Uncheck_Inventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inventory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inventory_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Inventory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Inventory_False</targetReference>
            </connector>
            <label>Uncheck Inventory</label>
        </rules>
        <rules>
            <name>Uncheck_New_Sales_Processes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.New_Sales_Processes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_Sales_Processes_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.New_Sales_Processes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Sales_Processes_False</targetReference>
            </connector>
            <label>Uncheck New Sales Processes</label>
        </rules>
        <rules>
            <name>Uncheck_Used_Sales_Processes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Used_Sales_Processes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Used_Sales_Processes_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Used_Sales_Processes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Used_Sales_Processes_False</targetReference>
            </connector>
            <label>Uncheck Used Sales Processes</label>
        </rules>
        <rules>
            <name>Uncheck_Marketing_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Review_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Marketing_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Marketing_Review_False</targetReference>
            </connector>
            <label>Uncheck Marketing Review</label>
        </rules>
        <rules>
            <name>Uncheck_Dept_Profit_Analysis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dept_Profit_Analysis__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dept_Profit_Analysis_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Dept_Profit_Analysis__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Dept_Profit_Analysis_False</targetReference>
            </connector>
            <label>Uncheck Dept. Profit Analysis</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_checkbox_empty_for_any_populated_text_area</name>
        <label>Is checkbox empty for any populated text area?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_checkbox_empty_for_any_populated_text_area_Fixed_Ops</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Dealership_Staffing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dealership_Staffing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dealership_Staffing_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Dealership_Staffing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Dealership_Staffing_True</targetReference>
            </connector>
            <label>Check Dealership Staffing</label>
        </rules>
        <rules>
            <name>Check_Traffic_Generation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Traffic_Generation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Traffic_Generation_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Traffic_Generation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Traffic_Generation_True</targetReference>
            </connector>
            <label>Check Traffic Generation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_checkbox_empty_for_any_populated_text_area_Fixed_Ops</name>
        <label>Is checkbox empty for any populated text area? (Fixed Ops)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_checkbox_empty_for_any_populated_text_area_Sales_Ops</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Dealership_Processes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dealership_Processes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dealership_Processes_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Dealership_Processes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Dealership_Processes_True</targetReference>
            </connector>
            <label>Check Dealership Processes</label>
        </rules>
        <rules>
            <name>Check_Reception_MPI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reception_MPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reception_MPI_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Reception_MPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Reception_MPI_True</targetReference>
            </connector>
            <label>Check Reception/MPI</label>
        </rules>
        <rules>
            <name>Check_Repair_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Repair_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Repair_Flow_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Repair_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Repair_Flow_True</targetReference>
            </connector>
            <label>Check Repair Flow</label>
        </rules>
        <rules>
            <name>Check_Customer_Retention</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Retention__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Retention_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Customer_Retention__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Retention_True</targetReference>
            </connector>
            <label>Check Customer Retention</label>
        </rules>
        <rules>
            <name>Check_Parts_Collision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parts_Collision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parts_Collision_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Parts_Collision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parts_Collision_True</targetReference>
            </connector>
            <label>Check Parts &amp; Collision</label>
        </rules>
        <rules>
            <name>Check_Profit_Retention</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profit_Retention__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profit_Retention_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Profit_Retention__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Profit_Retention_True</targetReference>
            </connector>
            <label>Check Profit Retention</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_checkbox_empty_for_any_populated_text_area_Sales_Ops</name>
        <label>Is checkbox empty for any populated text area? (Sales Ops)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_checkbox_checked_for_any_empty_text_area</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Inventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inventory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inventory_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Inventory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Inventory_True</targetReference>
            </connector>
            <label>Check Inventory</label>
        </rules>
        <rules>
            <name>Check_New_Sales_Processes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.New_Sales_Processes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_Sales_Processes_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.New_Sales_Processes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Sales_Processes_True</targetReference>
            </connector>
            <label>Check New Sales Processes</label>
        </rules>
        <rules>
            <name>Check_Used_Sales_Processes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Used_Sales_Processes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Used_Sales_Processes_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Used_Sales_Processes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Used_Sales_Processes_True</targetReference>
            </connector>
            <label>Check Used Sales Processes</label>
        </rules>
        <rules>
            <name>Check_Marketing_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Review_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Marketing_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Marketing_Review_True</targetReference>
            </connector>
            <label>Check Marketing Review</label>
        </rules>
        <rules>
            <name>Check_Dept_Profit_Analysis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dept_Profit_Analysis__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dept_Profit_Analysis_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedVisit.Dept_Profit_Analysis__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Dept_Profit_Analysis_True</targetReference>
            </connector>
            <label>Check Dept. Profit Analysis</label>
        </rules>
    </decisions>
    <description>Sets checkboxes for consultative model based on populated text areas.</description>
    <environments>Default</environments>
    <interviewLabel>Visit After Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Visit After Create/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Visit</name>
        <label>Update Visit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_updatedVisit</targetReference>
        </connector>
        <object>Visit</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>updatedVisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
</Flow>
